* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #FF0000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav h1 {
    font-size: 32px;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #CCCCCC;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .sidebar {
    flex-basis: 300px;
  }
  
  .sidebar h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .video-list {
    list-style: none;
    padding: 0;
  }
  
  .video-list li {
    margin-bottom: 10px;
  }
  
  .video-list a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }
  
  .video-list a.active {
    color: #FF0000;
  }
  
  .video-list a:hover {
    color: #999999;
  }
  
  .main {
    flex-basis: calc(100% - 340px);
  }
  
  .main h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .main iframe {
    width: 100%;
    height: 500px;
    border: none;
  }
  .hide{
    display: none;
  }